[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
CN = kafka3

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = kafka3            # имя хоста как в advertised listeners
DNS.2 = localhost
IP.1 = 127.0.0.1
IP.2 = 45.137.153.149     # вдруг задеплоим таки на удаленный хост
